body {
    display: flex;
    justify-content: flex-start;
    height: 500px;
}

#container {
    display: flex;
    background-color: beige;
    width: 800px;
    height: 800px;
    margin-top: 50px;
    flex-wrap: wrap;
}

* {
    box-sizing: border-box;
}

#startarea {
    display: flex;
    flex-direction: column;
    width: 800px;
    margin-top: 200px;
    justify-content: center;
    align-items: center;
}

#title h1 {
    font-family: 'REM';
    font-size: 80px;
}

#clear {
    width: 80px;
    height: 50px;
    font-family: 'REM';
    font-weight: bold;
    border: none;
    border-radius: 5px;
    background-color: rgb(131, 185, 156);
}

#buttonarea {
    width: 500px;
    display: flex;
    justify-content: space-around;
}